*{
    margin:0;
    padding:0;

}

body{
    display: flex;
    justify-content: space-evenly;
}

#word{
    letter-spacing: 5px;
    font-size: 30px;
}
.hidden{
    display: none;
}
#letter{
    height:60px;
    width: 60px;
    text-align: center;
    font-size: 40px;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:100vh;
}

